#tab_grid {
    width: 280px;
    height: 280px;
    border: 5px solid #999;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1px;
    margin: auto;
    margin-top: 20px;
    background-color: #999;
    box-shadow: 0px Opx 20px white;
}

.clks {
    height: 133px;
    width: 133px;
    font-size: 0.1px;
}

#p1 {
    background: url('../images/logo_decoupe/1.png');
    background-repeat: no-repeat;
    background-size: auto;
}
#p2 {
    background: url('../images/logo_decoupe/2.png');
    background-repeat: no-repeat;
}
#p3 {
    background: url('../images/logo_decoupe/3.png');
    background-repeat: no-repeat;
}
#p4 {
    background: url('../images/logo_decoupe/4.png');
    background-repeat: no-repeat;
}