footer .réseaux a
{
    font-size: 25px;
    padding-right: 7px;
}
.réseaux li a .twitter:hover, .réseaux li a .facebook:hover, .réseaux li a .linkedin:hover
{
    color: rgb(24, 119, 242);
}
.réseaux li a .youtube:hover
{
    color: red;
}
.réseaux li a .instagram:hover
{
    color: rgb(255, 0, 0);
}