
.conteneur {
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 120px;
}

.title {
    margin-bottom: 5vh
}

.card {
    margin: auto;
    max-width: 950px;
    width: 90%;
    border-radius: 1rem;
    border: transparent
}

.nombre_produits {
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nombre_produits .quantity {
    margin: 0;
    border-top: 2px solid rgb(223, 223, 223);
    border-bottom: 2px solid rgb(223, 223, 223);
    border-left: 0.5px solid rgb(223, 223, 223);
    border-right: 0.5px solid rgb(223, 223, 223);
    padding: 5px;
    background: white;
    height: 35px;
    width: 45px;
}
.moins {
    width: 30px;
    height: 35px;
    border-top: 2px solid rgb(223, 223, 223);
    border-bottom: 2px solid rgb(223, 223, 223);
    border-left: 2px solid rgb(223, 223, 223);
    border-right: 0.5px solid rgb(223, 223, 223);
    border-radius: 5px 0px 0px 5px;
    background: white;
}
.plus {
    width: 30px;
    height: 35px;
    border-top: 2px solid rgb(223, 223, 223);
    border-bottom: 2px solid rgb(223, 223, 223);
    border-right: 2px solid rgb(223, 223, 223);
    border-left: 0.5px solid rgb(223, 223, 223);
    border-radius: 0px 5px 5px 0px;
    background: white;
}
.prix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
.prix h3 {
    margin: 0;
    color: #212121;
    font-size: 14px;
    font-weight: 600;
}
.prix i {
    color: #212121;
    font-size: 25px;
    font-weight: 600;
}
@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 30px;
    border-top: 2px solid rgb(223, 223, 223);
    border-bottom: 2px solid rgb(223, 223, 223);
    border-left: 2px solid rgb(223, 223, 223);
    border-radius: 10px 0px 0px 10px;

}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

.summary {
    background-color: #a2a2a2;
    border-top: 2px solid rgb(223, 223, 223);
    border-bottom: 2px solid rgb(223, 223, 223);
    border-right: 2px solid rgb(223, 223, 223);
    border-radius: 0px 10px 10px 0px;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.title b {
    font-size: 1.5rem
}

.col-2 {
    padding: 1vh 1vh;
}
.col {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}

.infos h3{
    font-weight: 600;
    font-size: 13.5px;
    color: #a2a2a2;
    margin-bottom: 3px;
}

.infos h4{
    font-weight: 600;
    font-size: 13px;
    color: #313131;
    margin: 0;
}

.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.conteneur input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.conteneur input:focus::-webkit-input-placeholder {
    color: transparent
}

.conteneur .btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.conteneur .btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    transition: none;
}

.conteneur .btn:hover {
    color: white
}

.conteneur a {
    color: black
}

.conteneur a:hover {
    color: black;
    text-decoration: none
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}
.delete i:hover {
    color: red;
    transition: 0.4s;
}